@import url(reset.css);
@import url(clearfix.css);

@font-face {
	font-family: NexaBold; 
	src: url(../fonts/NexaBold.otf); 
}

@font-face {
	font-family: NexaLight; 
	src: url(../fonts/NexaLight.otf); 
}

@font-face {
	font-family: icons; 
	src: url(../fonts/icons.ttf); 
}

body {
	background-color: #ebebeb;
}

a, button {
	text-decoration: none;
	cursor: pointer;
}

button, input:focus {
	outline: none;
}

/*-----------------------*/

.open > .dropdown-menu {
  display: block;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	overflow: hidden;
	z-index: 5;
}

.dropdown-content a {
	color: black;
	padding: 0 16px;
	display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.dropdown-visible {display:block;}

.switcher {
	width: 66px;
	height: 66px;
	border: none;
	background-color: transparent;
	display: none;
}

.switcher:after {
	content: "\e810";
	font-family: "icons";
	color: white;
	font-size: 18pt;
}

.switcher-show {
	display: block !important;
}

/*-----------------------*/


.header {
	width: 940px;
	margin: auto;
}

.top-panel-bg {
	width: 100%;
	height: 66px;
	background-color: #373737;
}

.top-panel {
	max-width: 940px;
	height: 100%;
	background-color: inherit;
	margin: auto;
}

.logo {
	height: 100%;
	float: left;
}

.orange-g {
	float: left;
	width: 80px;
	height: 100%;
	font-family: "NexaBold";
	font-size: 36pt;
	color: white;
	text-align: center;
	background-color: #f26c4f;
	position: relative;
}

.orange-g:after {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;	
	border-left: 13px solid #f26c4f;
	position: absolute;
	top: 21px;
	right: -11.5px;
}

h1 {
	float: left;
	font-family: "NexaRegular";
	font-size: 18pt;
	color: white;
	line-height: 66px;
	padding-left: 24px;
}

#upper-dropdown {
	float: right;
	width: 180px;
	height: 35px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	margin-top: 15px;
	margin-right: 10px;
}

.upper-dropdown-button {
	width: 100%;
	height: 100%;
	background-color: white;
	border: none;
	color: #959595;
	font-family: "NexaBold";
	position: relative;
	text-align: left;
	padding-left: 15px;
}

.upper-dropdown-up-down-arrows {
	width: 35px;
	height: 100%;
	background-color: #ebebeb;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #d8d8d8;
	font-family: "icons";
	font-size: 10px;
}

.upper-dropdown-up-down-arrows:before {
	content: "\e80e";
	position: absolute;
	top: 6px;
	right: 12px;
}

.upper-dropdown-up-down-arrows:after {
	content: "\e80f";
	position: absolute;
	top: 16px;
	right: 12px;
}

.upper-dropdown-content {
	background-color: white;
	width: 100%;
	border: 1px solid #d8d8d8;
}

.upper-dropdown-content a {
	height: 40px;
	font-family: "NexaBold";
	font-size: 11pt;
	line-height: 40px;
}

.left-part-cut {
	width: 100%;
	height: 66px;
	background: -webkit-linear-gradient(left, transparent 50%, #474747 50%);
	background: -moz-linear-gradient(left, transparent 50%, #474747 50%);
	background: -o-linear-gradient(left, transparent 50%, #474747 50%);
	background: -ms-linear-gradient(left, transparent 50%, #474747 50%);
	background: linear-gradient(left, transparent 50%, #474747 50%);
}

.navigation-panel {
	max-width: 940px;
	height: 100%;
	background-color: #474747;
	margin: auto;
}

.navigation-logo {
	width: 80px;
	height: 66px;
	text-align: center;
	float: left;
}

.navigation-logo:after {
	content: "\e80d";
	font-family: "icons";
	font-size: 15pt;
	color: #f26c4f;
	line-height: 66px;
}

.navigation-list  {

	float: left;
}

.navigation-list li {
	height: 100%;
	float: left;
	position: relative;
}

.navigation-list li:after {
	content: "";
	position: absolute;
	display: block; 
	width: 1px;
	height: 16px;
	background-color: #767676;
	top: calc(50% - 8px);
	left: 0;
}

.navigation-list li:first-child:after {
	display: none; 
}

.navigation-list li a {
	box-sizing: border-box;
	display: block;
	height: 66px;
	font-family: "NexaBold";
	font-size: 12pt;
	color: white;
	line-height: 58px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	margin: 0 15px;
}

.navigation-list li a:hover {	
	border-bottom: 4px solid #f26c4f;
}


.quicklinks-menu {
	height: 100%;
	float: right;
	margin-right: 10px;
}

.quicklinks	{
	font-family: "NexaBold";
	font-size: 11pt;
	color: white;
	line-height: 66px;
	padding: 0px 10px;
	display: inline-block;
}

.quicklinks:after {
	padding-left: 10px;
	content: "\e80d";
	font-family: "icons";
	color: #f26c4f;
}

#quicklinks-menu-dropdown {
	display: inline-block;
	padding: 0px 10px;
	height: 100%;
}

.quicklinks-menu-dropdown-button {
	background: none;
	border: none;
	font-family: "NexaBold";
	font-size: 11pt;
	color: white;
	line-height: 66px;
	height: 100%;
}

.dropdown-up-down-arrows {
	width: 5px;
	height: 15px;
	position: relative;
	font-family: "icons";
	display: inline;
	font-size: 10px;
}

.dropdown-up-down-arrows:before {
	content: "\e80e";
	position: absolute;
	top: -36px;
	right: -13px;
}

.dropdown-up-down-arrows:after {
	content: "\e80f";
	position: absolute;
	top: -22px;
	right: -13px;
}

.quicklinks-menu-dropdown-content {
	width: calc(100% - 10px);
	background-color: white;
}

.quicklinks-menu-dropdown-content a {
	height: 40px;
	font-family: "NexaBold";
	font-size: 11pt;
	line-height: 40px;
}

.search-panel {
	width: 940px;
	height: 66px;
	margin: auto;
}

#search-form {
	float: left;
}

#search-input {
	width: 300px;
	float: left;
	border: none;
	margin-top: 9px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 15px 30px 15px 20px;
	font-family: "NexaBold";
}

#search-button {
	background: none;
	border: none;
	height: 48px;
	width: 48px;
	margin-top: 9px;
	margin-left: -48px;
	-webkit-transition: text-shadow 0.5s;
    -moz-transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s;
}

#search-button:after {
	content: "\e803";
	font-family: "icons";
	color: #f26c4f;
}

#search-button:hover {
	text-shadow: 1px 1px 1px black;
}

.share {
	float: right;
	display: inline-block;
	height: 100%;
}

.share li {
	display: inline-block;
	height: 100%;
	padding-left: 15px;
}

.share li:first-child {
	padding-left: 0;
}

.share li a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: "NexaBold";
	font-size: 10pt;
	color: #8f8f8f;	
	line-height: 66px;
}

.share li a:before {
	font-family: "icons";
	padding-right: 5px;
}

#twitter:before {
	content: "\e809";
}
#facebook:before {
	content: "\e806";
}
#rss:before {
	content: "\e808";
}
#mail:before {
	content: "\e805";
}

.content {
	max-width: 940px;
	margin: auto;
}

.main-slider {
	width: 100%;
	padding-bottom: 20px;
}

.main-slider:after {
	content: "";
	display: block;
	clear: both;
}

.big-image-container {
	width: 66%;
	height: 390px;
	position: relative;
	overflow: hidden;
	float: left;
}

.big-image {
	width: 102%;
}

.image-sign {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 60px;
	font-family: "NexaBold";
	color:white;
	background: rgba(0, 0, 0, 0.5);
	line-height: 60px;
	padding: 0 5px;
	text-align: center;
}

.image-description-main-slider-container {
	width: 34%;
	height: 390px; 
	float: left; 
	border-left: 5px solid  #f26c4f;
	background-color: #373737;
	position: relative;
	font-family: "NexaBold";
	color: white;
}


.image-description-main-slider-container:before {
	content: "";
	position: absolute;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #f26c4f;
	top: 20%;
	left: 0px;
}

.image-description-main-slider {
	padding: 35px;
	width: 100%;
}

.description-header {
	font-size: 16pt;

}

.description-text {
	padding-top: 7px;
}

.main-slider-date {
	width: 100%;
	padding-top: 15px;
	text-align: right;
}


.main-slider-date > .plus:before {
	content: "\e801";
	font-family: "icons";
	color: white;
	float: left;
}

.main-slider-date > .clock:before {
	content: "\e804";
	font-family: "icons";
	color: white;
	float: right;
	padding-right: 5px;
}

.double-buttons {
	width: 60px;
	height: 30px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.double-buttons button {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	border: none;	
	font-family: "NexaBold";
	font-size: 16pt;
	color: white;
	line-height: 30px;
}

.double-buttons button:hover {
	background-color: #f26c4f;
}

.double-button-left {
	background-color: #535353;
}

.double-button-right {
	background-color: #474747;
}

.triple-slider {
	width: 960px;
	margin-left: -10px;
	height: 380px;
	position: relative;
}

.triple-slider-buttons {
	background-color: transparent;
	position: absolute;
	font-size: 26pt;
	font-family: "NexaBold";
	color: #adadad;
	border: none;
	top: 150px;
}

#triple-slider-button-left {
	left: -30px;
}

#triple-slider-button-left:before {
	content: "<";
	font-family: "NexaBold";
	font-size: 36pt;
}

#triple-slider-button-right {
	right: -30px;
}

#triple-slider-button-right:before {
	content: ">";
	font-family: "NexaBold";
	font-size: 36pt;
}

.triple-slider-slide-container {
	float: left;
	padding: 0 10px;
}

.triple-slider-slide-container > .image-container {
	width: 100%;
	height: 190px;
	overflow: hidden;
	position: relative;
}

.triple-slider-slide-container > .image-container:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 70px solid #373737; 
	border-left: 70px solid transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	-webkit-transition: border-top 0.5s;
    -moz-transition: border-top 0.5s;
    -o-transition: border-top 0.5s;
    transition: border-top 0.5s;
}

.image-container:hover:after{
	border-top: 70px solid #f26c4f; 
}

.triple-slider-slide-container > .image-container:before {
	content: "\e801";
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
	z-index: 2;
	font-family: "icons";
}

.triple-slider-image {
	width: 100%;
}

.triple-slider-image-description {
	width: 100%;
	height: 170px;
	background-color: white;
	font-family: "NexaBold";
	padding: 15px;
	font-size: 12pt;
	color: #4f4f4f;
}

.triple-slider-image-description span {
	font-size: 25pt;
	line-height: 1.2em;
}

.news-main-part {
	float: left;
	width: 66%;
}

.news-content {
}

.news-content > div {
	background-color: white;
	font-family: "NexaBold";
	width: 100%;
	padding:  15px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.news-big {
	border-left: 5px solid #f26c4f;
}

.news-big span {
	font-size: 24pt;
}	

.news-medium {
	border-left: 5px solid #8f8f8f;
}

.news-medium span {
	font-size: 18pt;
}

.news-small {
	border-left: 5px solid #d9d9d9;
}

.news-small span {
	font-size: 16pt;
}

.news-content > div:hover {
	border-left: 5px solid #ce4e32;
	background-color: #f26c4f;
	font-family: "NexaBold";
	color: white;
}

.read-more-container {
	text-align: center;
}

.read-more {
	margin: auto;
	text-transform: uppercase;
	font-family: "NexaBold";
	color: #bdbdbd;
	position: relative;
}

.read-more:after {
	content: "\e802";
	position: absolute;
	font-family: "icons";
	font-size: 20pt;
	top: 20px;
	left: 33px;

}

.search-work-by-container {
	width: 100%;
	height: 50px;
	background-color: white;
	font-family: "NexaBold";
	color: #bababa;
	float: left;
	margin-top: 45px;
	line-height: 50px;
}

.search-work-by {
	display: inline-block;
}

.search-work-by-dropdown {
	color: #f26c4f;
	display: inline-block;
}

.text-boxage-container {
	min-height: 200px;
	float:left;
	color:  #707070;
	background-color: white;
	margin-top: 25px;
	font-family: "NexaBold";
	position: relative;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
}

.text-boxage-container:last-child {
	margin-bottom: 30px;
}

.plus-left-top-corner{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #cacaca;
	color: white;
	font-family: "icons";
	text-align: center;
	line-height: 30px;
}

.text-boxage-container > a:before {
	content: "\e801";
}

.text-boxage {
	width: 100%;
	padding: 30px 30px 20px 50px;
}

.text-boxage-image-container {
	width: 100%;
	overflow: hidden;
	margin-bottom: 25px;
	position: relative;
}

.text-boxage-image-container img {
	width: 100%;
	float: left;
} 

.text-boxage-header {
	font-size: 30pt;
	padding-bottom: 25px
}

.text-boxage-panel {
	width: 100%;
	height: 40px;
	box-shadow: 
	inset 0px 4px 3px -2px rgba(0, 0, 0, 0.25),
	inset 0px -4px 3px -2px rgba(0, 0, 0, 0.25);
	background-color: #efefef;
	line-height: 40px;
	padding-left: 15px;
	float: left;
}

.text-boxage-panel-like {
	color: inherit;
	float: right;
	padding-right: 25px;
}

.text-boxage-panel-like:after {
	content: "\e800";
	font-family: "icons"; 
	padding-left: 10px;
}

.text-boxage-panel-like:hover::after {
	color: #f26c4f;
}

.sidebar {
	width: 33%;
	padding-left: 1%;
	float: right;
}

.sidebar-main-artcile {
	width: 100%;
	margin-bottom: 25px;
}

.sidebar-main-artcile > .image-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.sidebar-main-artcile > .image-container:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 70px solid #373737; 
	border-left: 70px solid transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	-webkit-transition: border-top 0.5s;
	-moz-transition: border-top 0.5s;
	-o-transition: border-top 0.5s;
	transition: border-top 0.5s;
}

.sidebar-main-artcile:hover .image-container:after{
	border-top: 70px solid #f26c4f; 
}

.sidebar-main-artcile > .image-container:before {
	content: "\e801";
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
	z-index: 2;
	font-family: "icons";
}

.sidebar-main-artcile-image {
	width: 100%;
}

.sidebar-main-image-description {
	width: 100%;
	background-color: #373737;
	font-family: "NexaBold";
	padding: 25px 25px 50px;
	font-size: 12pt;
	color: white;
}

.sidebar-menu {
	width: 100%;
	font-family: "NexaBold";
	padding: 15px 0;
	font-size: 12pt;
	line-height: 40px;
}

.sidebar-menu li a {
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 10px;
	background-color: white;
	border-left: 5px solid #cacaca;
	color: #474747;
	-webkit-transition: border-left 0.5s;
	-moz-transition: border-left 0.5s;
	-o-transition: border-left 0.5s;
	transition: border-left 0.5s;
}

.sidebar-menu li a:hover {
	border-left: 5px solid #f26c4f;
}

.sidebar-artciles-list {
	width: 100%;
	padding: 10px 2%;
	font-family: "NexaBold";
	font-size: 12pt;
	color: #474747;
}

.sidebar-artciles-list-article {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #f5f5f5;
	padding: 10px 0;
}

.sidebar-artciles-list-article span {
	font-size: 18pt;
	line-height: 35px;
}

.sidebar-artciles-list-article p {
	padding-top: 10px;
	font-size: 10pt;
}

.sidebar-artciles-list-article p:before {
	content: "\e801";
	font-family: "icons";
	font-size: 12pt;
	padding-right: 10px;
}

.sidebar-artciles-list-article:first-child {
	border-top: none;
}

.sidebar-artciles-list-article:last-child {
	border-bottom: none;
}

.sidebar-counters {
	width: 100%;
	font-family: "NexaBold";
	padding: 15px 0;
	font-size: 18pt;
	line-height: 40px;
}

.sidebar-counters tr .label {
	font-size: 12pt;
}

.sidebar-counters tr .icon {
	font-family: "icons";
	font-size: 14pt;
	padding-right: 5px;
}

.footer {
	width: 100%;
	height: 490px;
	background-color: #373737;
	display: inline-block;
}

.footer-navigation-list {
	float: right;
}

#bottom-logo {
	height: 66px;
}